.container {
  background: white;
  padding: 16px;
  display: flex;
  align-items: center;
  user-select: none;
  border-radius: 8px;
  border-radius: 8px;
  gap: 4px;
  display: flex;
  gap: 8px;
  background: var(--black5);
  transition: 0.2s ease;

  &:hover {
    background: var(--black10);
  }

  .column {
    height: 128px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 8px;
    scroll-snap-type: block;
    transition: 0.2s ease;

    &::-webkit-scrollbar {
      display: none;
    }

    & > p {
      width: 80px;
      height: 64px;
      line-height: 64px;
      border-bottom: 1px solid var(--black25);
      text-align: center;
      transition: 0.3s ease;
    }
  }

  p {
    font-size: 64px;
  }
}
