.container {
  .backdrop {
    width: 100vw;
    height: 100vh;
    background: var(--black75);
    position: fixed;
  }

  .content {
    background: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-shadow: 0 0 20px var(--black50);

    button {
      background: var(--black25);
      border: none;
      outline: none;
      font-size: 20px;
      padding: 8px;
      border-radius: 8px;
      transition: 0.2s ease;
      cursor: pointer;

      &:hover {
        background: var(--black50);
      }
    }
  }
}
