.container {
  width: 100%;
  height: 100%;
  // position: fixed;
  // left: 0;
  // top: 0;
  z-index: 100;

  // .backdrop {
  //   width: 100%;
  //   height: 100%;
  //   background: rgba(0, 0, 0, 0.8);
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  // }

  .content {
    background: white;
    padding: 16px;
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 32px;
    // width: calc(100% - 48px);
    // border-radius: 8px;
    // max-width: 1000px;
    // height: calc(100% - 48px);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

    .top {
      display: flex;
      gap: 8px;
      align-items: center;

      & > button {
        background: none;
        outline: none;
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
      }
    }

    input[type='text'] {
      width: 100%;
      padding: 8px 16px;
      border: 1px solid var(--black25);
      font-size: 16px;
    }

    .times {
      display: flex;
      gap: 16px;
      flex-direction: column;

      .label {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;

        & > h2 {
          background: var(--black);
          width: 100%;
          color: white;
          text-align: center;
          font-weight: 400;
          padding: 4px;
          border-radius: 8px;
        }
      }
    }

    & > button {
      border: none;
      outline: none;
      background: var(--primary);
      color: white;
      padding: 16px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 8px;

      &:disabled {
        opacity: 0.5;
      }
    }

    .colors {
      width: 100%;
      max-width: 400px;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;

      .row {
        width: 100%;
        display: flex;
        gap: 8px;

        .color {
          flex: 1;
          aspect-ratio: 1/1;
          cursor: pointer;
          border-radius: 8px;
          transition: 0.2s ease;

          &.active {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            transform: scale(1.05);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .container {
    .content {
      input[type='text'] {
        padding: 16px 16px;
        font-size: 20px;
      }

      .times {
        flex-direction: row;
      }

      button {
        font-size: 20px;
      }
    }
  }
}
