.event {
  position: absolute;
  left: 8px;
  width: calc(100% - 16px);
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  overflow: hidden;
  container-type: size;

  .title {
    max-width: calc(100% - 24px);
    position: absolute;
    background: var(--black75);
    color: white;
    padding: 4px 16px;
    border-radius: 4px;
    left: 12px;
    top: 12px;
    overflow-wrap: break-word;
    font-size: 20px;
  }

  .drag {
    height: 4px;
    width: 100%;
    background: red;

    position: absolute;
    cursor: ns-resize;
  }
}

@container (max-width: 300px) {
  .event {
    .title {
      font-size: 14px;
    }
  }
}
